.container {
  margin-top: 10px;
  margin-bottom: 50px;
}

.float-right{
  margin-top: 75px;
}

.col-12{
  margin-top: 25px;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: dodgerblue;
}

