<div class="container">
  <div class="row">

    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="btn btn-secondary" (click)="getAllEvents(); chosenCity=undefined;">All cities</button>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <span *ngIf="!chosenCity">Filter by city</span><span>{{chosenCity}}</span></a>
          <div class="dropdown-menu">
            <button class="dropdown-item" (click)="chosenCity = city.name;filter()" *ngFor="let city of cities">{{city.name}}</button>
          </div>
        </li>
      </ul>
    </div>



      <div class="col-12"  *ngFor="let event of allEvents | paginate: { itemsPerPage: 2, currentPage: p}">
        <div class="card">
          <h5 class="card-header text-center">
            <!--{{event.startDate.dayOfWeek}}, {{event.startDate.dayOfMonth}} {{event.startDate.month}}-->
            <!--{{event.startDate.year}} {{event.startDate.hour}}:{{event.startDate.minute}}h-->
            {{event.startDate | date}}
          </h5>
          <div class="card-block">
            <div class="row">
              <div class="col-4">
                <img *ngIf="event?.picture" class="img-fluid" src="/api/public/image/{{event?.picture?.id}}"
                     alt="Generic placeholder image">
              </div>
              <div class="col-8">
                <h4 class="card-title">{{event.name}}</h4>
                <p class="card-text">{{event.description}}</p>
                <span class="card-text text-danger">City: {{event.city.name}}</span>|
                <span class="card-text text-danger">Place: {{event.place}}</span> |
                <span class="card-text text-danger">Attending: {{event.attendingUsers.length}}</span>
                <div class="btn-group float-right" *ngIf="loggedUser">
                  <button *ngIf="!canGo(event)" (click)="goingToEvent(event.id)"
                          class="btn btn-outline-success">Going
                  </button>
                  <button *ngIf="canGo(event)" (click)="cancelEvent(event.id)"
                          class="btn btn-secondary"> Not attending
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="col-12">
      <div *ngIf="allEvents?.length == 0" class="alert alert-danger text-center" role="alert">
        <strong>Oh snap!</strong> There are no events in the near future!
      </div>
    </div>

    <div class="col-12 text-center">
      <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>


