<div class="container" style="margin-top: 100px;">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Reset password</h4>
      <h6 class="card-subtitle mb-2 text-muted">Enter your username or email in order to reset password</h6>
      <p class="card-text">A reset link will be sent to your email where you can set your new password.</p>
      <div class="row">
        <div class="col-6">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input #inputBox (keyup)="search(inputBox.value); response = undefined;" class="form-control" id="inlineFormInputGroup"
                   placeholder="Enter your username or email" [(ngModel)]="usernameOrEmail">
          </div>
        </div>
        <div class="col-6">
          <button (click)="onSubmit()" [disabled]="!usernameOrEmail || usernameOrEmail == ''"
                  class="btn btn-primary" >Submit</button>
        </div>
        <div class="col-12">
          <div *ngIf="response == 'true' && inputBox.value != ''" class="text-success form-control-feedback">This username
            or email exists. By clicking submit an email will be sent to this account!
          </div>
          <div class="text-danger form-control-feedback" *ngIf="response == 'false' && inputBox.value != ''">
            This username or email does not exist!
          </div>

          <div class="text-success form-control-feedback" *ngIf="message">
            {{message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
