<div class="page-wrapper">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">Event-scheduler</h1>
          <p class="lead">Event-scheduler is an application for events coordination. You can create events and say if
            you plan to go to them. Everybody can see the events, but if you want to create and attend you must log
            in!</p>
          <p class="lead">
            <a routerLink="/new-event" class="btn btn-lg btn-secondary">Create event</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>
              Event-shceduling application
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


