<div *ngIf="!eventId" class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="card-header">Create new event</h3>
      <div class="form-group row" style="margin-top: 20px;">
        <label for="name" class="col-4 col-form-label">Event name: </label>
        <div class="col-8">
          <input class="form-control" id="name" name="name" [(ngModel)]="name" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-4 col-form-label">Description: </label>
        <div class="col-8">
          <textarea class="form-control" [(ngModel)]="description" placeholder="Say something about the event..." id="description"
                    name="description" required></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="place" class="col-4 col-form-label">Place: </label>
        <div class="col-8">
          <input class="form-control" [(ngModel)]="place" value="Say something about the event" id="place"
                 name="description" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="place" class="col-4 col-form-label">City: </label>
        <div class="col-8">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <span *ngIf="chosenCity">{{chosenCity.name}}</span>
              <span *ngIf="!chosenCity">Pick a city</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button (click)="chosenCity = city" class="dropdown-item" type="button" *ngFor="let city of cities">
                {{city.name}}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Start and end date: </label>
        <div class="col-8">
          <ng-daterangepicker [(ngModel)]="date" [options]="options"></ng-daterangepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="what-time-starts" class="col-4 col-form-label">Event begins at: </label>
        <div class="col-8">
          <md2-datepicker id="what-time-starts" [(ngModel)]="startTime" type="time" placeholder="Start time"
                          format="HH:mm"></md2-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="what-time-ends" class="col-4 col-form-label">Event finishes at: </label>
        <div class="col-8">
          <md2-datepicker id="what-time-ends" [(ngModel)]="endTime" type="time" placeholder="End time"
                          format="HH:mm"></md2-datepicker>
        </div>
      </div>
        <div *ngIf="message" class="alert alert-danger" role="alert">
          <strong>Oh snap!</strong> {{message}}
        </div>
      <div class="form-group row">
        <div class="col-12">
          <button  class="btn btn-primary float-right" style="margin-left: 150px;" (click)="onCreate()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="eventId">
  <div class="container">
    <div class="card-header" style="margin-bottom: 25px;margin-top: 25px;">Add picture for your event</div>
    <image-upload [url]="'/api/event/upload/'+ eventId"
                  [max]="1" [buttonCaption]="'Select Image!'">
    </image-upload>

    <button (click)="finish()" class="btn btn-success btn-block" style="margin-top: 25px;">Finish!</button>
  </div>
</div>

